<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Age
            </th>
        </tr>
        {% for data in testCrud %}
        <tr>
            <td>{{ data.name }}</td>
            <td>{{ data.age }}</td>
        </tr>
        {% endfor %}
        
    </table>
    <a href="{% url 'firstcrud:form' %}">add</a>
</body>
</html>